* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul,
li,
ol {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

[class*="col-"] {
  flex: 0 0 auto;
  padding: 0 15px;
}



.d-inline-block {
  display: inline-block;
}



.menubar > li > a {
  padding: 20px 16px;
  color: #333333;
  display: inline-block;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 8px 14px !important;
  border-radius: 6px;
}

.button-theme {
  background-color: #3366ff;
  color: #ffffff !important;
}

.hero-section {
  padding: 100px 0;
  background: #f7f5fd;
  text-align: center;
}

.hero-section h1 {
  color: #2d2d2d;
  font-size: 36px;
  font-weight: 600;
}

.main-1{
  text-align: center;
}

.hero-section p {
  color: #2d2d2d;
  font-size: 18px;
  line-height: 32px;
}



.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.hero-section a {
  background: #f8d57e;
  color: #333333;
  padding: 16px 24px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 15px;
}

.sec-2 {
  padding: 100px 0px;
  background-color: #f2faf8;
}

.image-width {
  max-width: 100%;
}
.main-22 {
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.main-22::after{
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(45, 45, 45, 0.9) 0%,
    rgba(45, 45, 45, 0.5) 100%
  );
  content: "";
  z-index: 22;
  width: 96%;
  height: 98%;
  flex-shrink: 0;
  position: absolute;
  inset: 0;
  text-align: center;
  left: 16px;
}

.absolute {
  position: absolute;
 top: 50%;
 left: 50%;
    z-index: 23;
    transform: translate(-50%,-50%);
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.justify-center {
  display: flex;
  justify-content: center;
}

.margin-auto{
  margin: 0 auto;
}

.sec-3 {
  padding: 100px 0px;
  color: #fff;
}

.flex-side {
  display: flex;
  justify-content: space-between;
}

.sec-logo {
  text-align: center;
}

.flex-side-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.sec-4 {
  padding: 100px 0px;
  background-color: #ffffff;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 40px 73px 21px 40px;
  align-items: center;
  background-color: #f7f7f7;
  margin: 10px 10px;
}

.sec-5 {
  padding: 100px 0px;
  background-color: #e5f4f2;
}

.main-5 {
  text-align: center;
}
.margin {
  margin-bottom: 20px;
}

.para-5 {
  color: #2d2d2d;

  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.name-5 {
  margin-top: 80px;
  color: #2d2d2d;

  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.sec-6 {
  padding: 100px 0px;
  background-color: #fcfaf5;
}

.main-6 {
  text-align: center;
}

.hdng-6 {
  color: #2d2d2d;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
  margin-bottom: 20px;
}

.para-6 {
  color: #2d2d2d;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.button-6 {
  margin-top: 40px;
}

.button-6-2 {
  border-radius: 10px;
  background: #f8d57e;
  padding: 12px 20px;
  color: #2d2d2d;
}

.footer{
  padding: 50px 0px;
}

.footer-main{
  display: flex;
    width: 1080px;
    align-items: flex-start;
    gap: 40px;


    
}

.privacy{
  text-transform: uppercase;
  margin-top: 5px;
}
.social-media{
  display: flex;
  column-gap: 10px;

}

.icon-logo{
  display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    padding: 10px 0px; 
    margin-left: 20px;       
}

/* .footer-main-2{
  display: flex;
    align-items: center;
    gap: 10px;
} */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .hero-section h1 {
    font-size: 42px;
  }

  .container {
    width: 540px;
  }

  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.67%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.67%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.67%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.67%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .logo span {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .hero-section h1 {
    font-size: 52px;
  }

  .container {
    width: 720px;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.67%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.67%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.67%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.67%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .hero-section h1 {
    font-size: 60px;
  }

  .container {
    width: 960px;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.67%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.67%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.67%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.67%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .hero-section h1 {
    font-size: 80px;
  }

  .container {
    width: 1140px;
  }

  .col-xl-1 {
    width: 8.33%;
  }

  .col-xl-2 {
    width: 16.67%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33%;
  }

  .col-xl-5 {
    width: 41.67%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33%;
  }

  .col-xl-8 {
    width: 66.67%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33%;
  }

  .col-xl-11 {
    width: 91.67%;
  }

  .col-xl-12 {
    width: 100%;
  }
}

/* @media (max-width: 480px) {
  .menubar > li > a {
    padding: 15px 12px;
  }
} */
